.addtask {
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    position: relative;
    top: 25px;
    left: 20px;
    padding: 10px 20px;
    margin: 20px;
    margin-left: 0px;
}

.search-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px;
  }
  
  .search-box, .sort-box {
    display: flex;
    align-items: center;
  }
  
  label {
    margin-right: 8px;
    font-weight: bold;
  }
  
  input[type="text"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .columns {
    display: flex;
    margin-top: 10px;
  }
  
  .column {
    flex: 1;
    margin: 0 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f9f9f9;
  }
  
  .header-box {
    background-color: blue;
    color: white;
    height: 30px; /* Adjust height as needed */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    border-radius: 4px;
  }
  
  .column-header {
    font-weight: bold;
    font-size: 16px;
    text-align: center;
  }
.task-item{
    height: 25vh;
    background-color: lightblue;
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
}
.created-time{
    color: black;
}
.task-footer{
    position: relative;
    top: 10px;
}
.task-buttons-container{
    position: relative;
    top: 20px;
    left: 80px;
}
.task-button-delete{
    border-radius: 3px;
    background-color: red;
    color: white;
    text-align: center;
    margin: 3px;
    border: none;
    padding: 3px;
}
.task-button-edit{
    border-radius: 3px;
    background-color: rgb(66, 172, 214);
    color: white;
    text-align: center;
    margin: 3px;
    border: none;
    padding: 3px;
}
.task-button-view-details{
    border-radius: 3px;
    background-color: blue;
    color: white;
    text-align: center;
    margin: 3px;
    border: none;
    padding: 3px;
}