
<div class="Add Task">
    <div>
        <button class="addtask">Add Task</button>
    </div>
    <div class="search-container">
        <div class="search-box">
          <label for="searchInput">Search:</label>
          <input id="searchInput" type="text" placeholder="Search..." />
        </div>
        <div class="sort-box">
          <label for="sortDropdown">Sorted by:</label>
          <select id="sortDropdown">
            <option value="recent">Recent</option>
            <option value="day">Day</option>
            <option value="month">Month</option>
          </select>
        </div>
      </div>    
      <div class="task-container">
        <div class="columns">
            <div class="column">
              <div class="header-box">
                <div class="column-header">To Do</div>
              </div>
              <div class="task-item">
                <h4>Task 1</h4>
                <h5>Description1</h5>
                <p></p>
                <div class="task-footer">
                    <span class="created-time">Created at: </span>
                    <div class="task-buttons-container">
                        <button class="task-button-delete">Delete</button>
                        <button class="task-button-edit">Edit</button>
                        <button class="task-button-view-details">View Details</button>
                    </div>
                </div>
            </div>
              <div class="task-item">Task 2</div>
              <div class="task-item">Task 3</div>
            </div>
            <div class="column">
              <div class="header-box">
                <div class="column-header">In Progress</div>
              </div>
              <div class="task-item">Task 1</div>
              <div class="task-item">Task 2</div>
              <div class="task-item">Task 3</div>
            </div>
            <div class="column">
              <div class="header-box">
                <div class="column-header">Done</div>
              </div>
              <div class="task-item">Task 1</div>
              <div class="task-item">Task 2</div>
              <div class="task-item">Task 3</div>
            </div>
          </div>
          
      </div>
        
</div>