<div class="signup-container">
    <h2 class="loginname">SignUp</h2>
    <div class="signup box">
        <form class="signup-form">
            <input type="text" id="firstName" name="firstName" placeholder="First Name" required>
            <input type="text" id="lastName" name="lastName" placeholder="Last Name" required>
            <input type="email" id="email" name="email" placeholder="Email" required>
            <input type="password" id="password" name="password" placeholder="Password" required>
            <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password" required>
            <button type="submit">Sign Up</button>
            
            <div class="additional-links">
                <p>Already have an account? <a href="/login">Login</a></p>
                <button type="button" class="google-signup">Signup with Google</button>
            </div>
        </form>
    </div>
</div>
